<div class="row">
    <div class="col-12 form-group js">
        {label $formFile /}
        <div>
            {input $formFile class => 'inputfile inputfile-2'}
            <label for="{$formFile->getHtmlId()}">
                <i class="fas fa-fw fa-file mr-1"></i>
                <span>{_'form.upload.file'}</span>
            </label>
        </div>
    </div>
</div>